name: integration

on:
  pull_request:
    paths-ignore:
      # Do not trigger if docs changed
      - 'docs/**'

jobs:
  loki-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        loki: [1.6.1, 2.1.0]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build and Run Integration Tests
        run: |
          docker run --name loki -d -p 3100:3100 grafana/loki:${{ matrix.loki }} \
            -config.file=/etc/loki/local-config.yaml \
            -server.grpc-max-recv-msg-size-bytes=18388608 \
            -distributor.ingestion-rate-limit-mb=16 -distributor.ingestion-burst-size-mb=24
          docker run --name lokimultitenant -d -p 3110:3100 grafana/loki:${{ matrix.loki }} \
            -config.file=/etc/loki/local-config.yaml \
            -server.grpc-max-recv-msg-size-bytes=18388608 -auth_enabled=true \
            -distributor.ingestion-rate-limit-mb=16 -distributor.ingestion-burst-size-mb=24
          sleep 5s
          ./gradlew check integTests
          docker stop loki
          docker stop lokimultitenant
      - name: Pring Log
        if: ${{ failure() }}
        run: |
          docker logs loki
          docker stop loki
          docker logs lokimultitenant
          docker stop lokimultitenant
