name: integration

on:
  pull_request:
    paths-ignore:
      # Do not trigger if docs changed
      - 'docs/**'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [11, 15]
        loki: [1.6.1, 2.0.0]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - name: Build and Run Integration Tests
        run: |
          docker run --name loki -d -p 3100:3100 grafana/loki:${{ matrix.loki }} \
            -config.file=/etc/loki/local-config.yaml \
            -server.grpc-max-recv-msg-size-bytes=18388608 \
            -distributor.ingestion-rate-limit-mb=16 -distributor.ingestion-burst-size-mb=24
          sleep 5s
          ./gradlew check integTests
          docker stop loki
      - name: Pring Log
        if: ${{ failure() }}
        run: |
          docker logs loki
          docker stop loki
  java8-ubuntu-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Adopt JDK 8
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '8'
          architecture: x64
          targets: 'JDK_8'
      - name: Set up Adopt JDK 11
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '11'
          architecture: x64
          targets: 'JDK_11'
      - name: Compile on Java 11
        run: JAVA_HOME="${JDK_11}" ./gradlew check compileJava8TestJava
      - name: Test on Java 8
        run: JAVA_HOME="${JDK_8}" ./gradlew --info java8Test -x compileJava8TestJava -x compileJava8Java
  java8-windows-tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Adopt JDK 8
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '8'
          architecture: x64
          targets: 'JDK_8'
      - name: Set up Adopt JDK 11
        uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '11'
          architecture: x64
          targets: 'JDK_11'
      - name: Compile on Java 11
        run: |
          SET JAVA_HOME=%JDK_11%
          echo %JAVA_HOME%
          ./gradlew.bat check compileJava8TestJava
      - name: Test on Java 8
        run: |
          SET JAVA_HOME=%JDK_8%
          echo %JAVA_HOME%
          ./gradlew.bat --info java8Test -x compileJava8TestJava -x compileJava8Java