name: integration

on:
  pull_request:
    paths-ignore:
      # Do not trigger if docs changed
      - 'docs/**'

jobs:
  loki-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        loki: [1.6.1, 2.4.2]
        include:
          - loki: 1.6.1
            limits: -distributor.ingestion-rate-limit-mb=160 -distributor.ingestion-burst-size-mb=240
          - loki: 2.4.2
            limits: |
              -distributor.ingestion-rate-limit-mb=160 -distributor.ingestion-burst-size-mb=240 \
              -ingester.per-stream-rate-limit="80MB" -ingester.per-stream-rate-limit-burst="160MB" \
              -server.grpc-max-recv-msg-size-bytes=4194304000 \
              -querier.frontend-client.grpc-max-send-msg-size=167772160
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build and Run Integration Tests
        run: |
          docker run --name loki -d -p 3100:3100 grafana/loki:${{ matrix.loki }} \
            -config.file=/etc/loki/local-config.yaml \
            ${{ matrix.limits }}
          docker run --name lokimultitenant -d -p 3110:3100 grafana/loki:${{ matrix.loki }} \
            -config.file=/etc/loki/local-config.yaml -auth.enabled=true
          sleep 5s

          ./gradlew check integTests
          ./gradlew ciOnlyTests --tests "*MultitenantSupportTest"

          docker stop loki
          docker stop lokimultitenant
      - name: Pring Log
        if: ${{ failure() }}
        run: |
          docker logs loki
          docker stop loki
          docker logs lokimultitenant
          docker stop lokimultitenant


  grafana-cloud:
    runs-on: ubuntu-latest
    environment: integ-tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build and Run Integration Tests
        env:
          GRAFANA_CLOUD_USERNAME: ${{ secrets.GRAFANA_CLOUD_USERNAME }}
          GRAFANA_CLOUD_PASSWORD: ${{ secrets.GRAFANA_CLOUD_PASSWORD }}
        run: |
          ./gradlew check
          ./gradlew ciOnlyTests --tests "*GrafanaCloudTest"
